.submit-button {
    color: white !important;
    background-color: #590404 !important;
}
.submit-button:hover {
    color: white !important;
    background-color: #045858 !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}
.row{
    color: #190101 !important;
    font-family: 'Rufina', serif !important;
}
.row:after {
    content: "" !important;
    display: table !important;
    clear: both !important;
}
.row-title{
    color: #190101 !important;
    font-family: 'Rufina', serif !important;
    font-size: 1.5rem;
}
.row-question{
    color: #190101 !important;
    font-family: 'PT Serif', serif !important;
    font-size: 1.5rem !important;
    text-decoration: underline !important;
}
.column {
    color: #190101 !important;
    font-family: 'Rufina', serif !important;
    float: left !important;
}
.col-dropdown{
    width: 25% !important;
    /* text-align: center !important; */
}
.col-mc-single{
    width: 15% !important;
}
.col-match{
    width: 100% !important;
    /* text-align: center !important; */
}
.col-sa{
    width: 27% !important;
}
.col-sa-actual-ans{
    width: 50% !important;
}
.wp-block-separator{
    background-color:#590404 !important;
    color:#590404 !important;
}
.correct-ans:before{
    content: '\f15e' !important;
    font-family: 'Dashicons' !important;
    color: #24a150 !important;
    padding-right: 6px;
}
.correct-ans{
    list-style-type: none !important;;
}
.incorrect-ans:before{
    content: '\f158' !important;
    font-family: 'Dashicons' !important;
    color: #db1515 !important;
    padding-right: 6px;
}
.incorrect-ans{
    list-style-type: none !important;
}
.incorrect-ans-sa-choices{
    font-family: 'Dashicons' !important;
    list-style-type: none !important;
    Padding-left: 6px;
}
.actual-correct-ans:before{
    content: '\f340' !important;
    font-family: 'Dashicons' !important;
    color: #247ea1 !important;
    padding-right: 6px;
}
.actual-correct-ans{
    list-style-type: none !important;
}
.ul.simple-pagination{
    list-style:none
}
.simple-pagination{
    display:block;
    overflow:hidden;
    padding:0 5px 5px 0;
    margin:0
}
.simple-pagination ul{
    list-style:none;
    padding:0;
    margin:0
}
.simple-pagination li{
    list-style:none;
    padding:0;
    margin:0;
    float:left
}

.light-theme a,.light-theme span{
    float:left;
    color: #666;
    font-family: 'PT Serif', serif !important;
    font-size:14px;
    line-height:24px;
    font-weight:400;
    text-align:center;
    border:1px solid #bbb;
    min-width:14px;
    padding:0 7px;
    margin:0 5px 0 0;
    border-radius:3px;
}
.light-theme a:hover{
    text-decoration:none;
    color: white !important;
    background:#045858;
}
.light-theme .current{
    background:#dddddd;
    font-weight: bold;
    cursor:default
}

table.minimalistBlack {
    width: 80%;
    text-align: left;
}
table.minimalistBlack td, table.minimalistBlack th {
    padding: 6px 10px;
}
table.minimalistBlack tbody td {
    font-size: 15px;
}
table.minimalistBlack thead {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
}
table.minimalistBlack thead th {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    border-left: 0px solid #D0E4F5;
}
table.minimalistBlack thead th:first-child {
    border-left: none;
}
  
table.minimalistBlack tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #000000;
}
table.minimalistBlack tfoot td {
    font-size: 14px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:11px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}